header{
    background-color: #ffca00;
    text-align: center;
    height: 10em;
}

#submit-btn{
    background-color: blue;
    border: none;
    width: 8em;
    height: 3em;
    border-radius: 5%;
    font-size: 1em;
    color: aliceblue;
    font-weight: bolder;
}

#search-keyword{
    width: 20em;
    height: 3em;
    border-radius: 5%;
    padding-left: 2em;
}

