*{
  margin: 0;
  padding: 0;
}
.imagen{
  position: absolute;
  width: 100%;
  height: 97.75vh;
  margin-left: -1.05em;
}
.contTitle{  
  background-color: #000000;
  opacity: 0.5;  
  width: 70%;
  height: 70vh;
  margin-top: 5em;

}
.title{
  font-size: 3em;
  position: relative;
  color: white;
  text-align: center;
}
.container-temperatura{
  color: white;
  font-size: 4em;
}
.texto{
  padding-right: 8em;
}
.container-datos{
  position: relative;
  color: white;
  font-size: 1.5em;
  top: 2em;
}


.dos{
  text-align: center;

}

.tres{
  text-align: center;

}


#wind{
  display: flex;
  flex-direction: row;
  justify-content: space-between;}


#humidity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;}



#indexUv{
  display: flex;
  flpredictionex-direction: row;
  justify-content: space-between;}

#pressure{
  display: flex;
  flex-direction: row;
  justify-content: space-between;}

#prediction{
  background-color: white;
  opacity: 0.5;  
  width: 70%;
  height: 15vh;
  margin-top: -1.5em;
  z-index: 1000;
  color: black;
  text-align: center;
padding-top: 1.5em;
font-size: 1.2em;
}

.cont{
  display: flex;
flex-direction: row;
  justify-content: center;
}


.One, .Two{
  display: none;
}

#Monday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Tuesday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Wednesday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Thursday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Friday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Saturday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Sunday{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img{
  width: 3em;
}
